.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.25em 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 0.25em;
    margin: 0 0.25em;
    width: 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 1.25em;
}


.BuildControl button:disabled {
    background-color: rgb(155, 155, 155);
    color: #000;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: rgb(155, 155, 155);
    color: #000;
    cursor: not-allowed;
}

.Label {
    padding: 1em;
    font-weight: bold;
    color: #fff;
    min-width: 5.5em;
}

.BuildControl .Less {  
    background-color: #fff;
    color: #000;
}

.BuildControl .More {
    background-color: rgb(191, 12, 12);
    color: #fff;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(215, 215, 215);
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(213, 60, 66);
}