@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Button {
  border: 1px solid #521751;
  font: inherit;
  padding: 8px;
  background-color: #521751;
  color: white;
  cursor: pointer;
}

.Button:hover,
.Button:active {
  background-color: #fa923f;
}
=======
  font-family: 'Open Sans', sans-serif;
  margin: 0;
=======
  font-family: 'Open Sans', sans-serif;
  margin: 0;
>>>>>>> section-28-replacing-redux-with-react-hooks
}

button {
  font: inherit;
  background: #ff2058;
  padding: 0.5rem 2rem;
  color: white;
  border: 1px solid #ff2058;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active {
<<<<<<< HEAD
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
=======
  background: white;
  color: #ff2058;
>>>>>>> section-28-replacing-redux-with-react-hooks
}

button:focus {
  outline: none;
<<<<<<< HEAD
=======
}

button.button-outline {
  background: white;
  color: #ff2058;
}

button.button-outline:hover,
button.button-outline:active {
  background: #ff2058;
  color: white;
  box-shadow: none;
>>>>>>> section-28-replacing-redux-with-react-hooks
}
>>>>>>> section-26-react-hooks
